<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pastadetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pastas[index].name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <div class="ion-padding" *ngIf="pastas[index]">
      <ion-img [src]="pastas[index].url"></ion-img>
      <p *ngIf="pastas[index].spicy==true">spicy</p>
      <h2>Rp {{ pastas[index].price }}</h2>
      <p>{{ pastas[index].description }}</p>
      <p>{{ pastas[index].detail }}</p>
      <ion-label>Pasta Recipe Instruction:</ion-label>
      <ol >
        <li *ngFor="let ins of pastas.instructions">
          {{ins.instruction}}
        </li>
      </ol>

    </div>
  </ion-item>
</ion-content>
