.agaknaik{
   margin-top: -60px;
   z-index: -1;
}
.tengah_atasberjarak{
   text-align: center;
   margin-top: 60px;
}
ion-avatar{
width: 120px;
height:120px;
}
#frame{
display: flex;
justify-content: center;
margin-top:20px;
}

