<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <a routerLink="team">Team</a>
    <a routerLink="history">History</a>
  </div>
  <div id="frame">
  <ion-avatar>
   <ion-img src="https://i.pravatar.cc/300?img=15"></ion-img>
  </ion-avatar>
</div>
 

  <ion-card class="agaknaik">
  <ion-card-content  class="tengah_atasberjarak">
      Daniel Hary Prasetyo<br>
      Jurusan Informatika UBAYA<br>
      Raya Kalirungkut Surabaya
  </ion-card-content>
</ion-card>

</ion-content>
