<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pasta</ion-title>
    <ion-segment [(ngModel)]="jenistampilan">
      <ion-segment-button value="accordion">
        <ion-label>Accordion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="card">
        <ion-label>Card</ion-label>
      </ion-segment-button>
      <ion-segment-button value="grid">
        <ion-label>Grid</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search pastas by name or description">
  </ion-searchbar>

  <ion-list *ngIf="searchTerm!=''">
    <ion-item *ngFor="let pasta of filteredPastas">
      <ion-label>
        <h2>{{ pasta.name }}</h2>
        <p>{{ pasta.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-accordion-group expand="inset" *ngIf="jenistampilan === 'accordion' && searchTerm==''">
    <ion-accordion *ngFor="let p of pastas">
      <ion-item slot="header" color="light">
        <ion-label>{{p.name}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img src="{{p.url}}"></ion-img>
        <p *ngIf="p.spicy">spicy</p>

        <p>{{p.description}}</p>
        <h2>Rp {{p.price}}</h2>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ng-container *ngIf="jenistampilan=='card' && searchTerm==''">
    <ion-card *ngFor="let p of pastas">
      <img src="{{p.url}}" />
      <ion-card-header>
        <ion-card-title>{{p.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="p.spicy">spicy</p>

        <p>{{p.description}}</p>
        <h2>Rp {{p.price}}</h2>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container>
    <ion-grid *ngIf="jenistampilan=='grid' && searchTerm==''">
      <ion-row *ngFor="let pastas2 of chunkArray(pastas, 2); let i = index">
        <ion-col *ngFor="let pasta of pastas2; let i2 = index">
          <ion-list>
            <ion-item>
              <ion-img [src]="pasta.url"></ion-img>
            </ion-item>
            <ion-item routerLink="/pastadetail/{{pasta.id}}">
              {{pasta.name}}
            </ion-item>
            <ion-item> Rp {{pasta.price}} </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>